<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="../../static/css/estilos.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="css/shop-homepage.css" rel="stylesheet">

  <title>DF Games - Inicio</title>

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                  <a class="navbar-brand" href="#">Pagar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="JavaScript:history.back()">Volver
                          <span class="sr-only">(current)</span>
                        </a>
                      
                    </ul>
                  </div>
                </div>
            </nav>

    <div class="contenedor">
        <form action="index.html" name="formulario" method="GET" class="form">
            <div class="form-header">
                <h1 class="form-title">V<span>enta</span></h1>
            </div>


            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre" required>

            <label for="Apellido Paterno" class="form-label">Apellido Parterno:</label>
            <input type="text" id="Apellido" class="form-input" placeholder="Escriba su Apellido" required>

            <label for="Rut" class="form-label">Rut;</label>
            <input type="text" id="Numero" class="form-input" placeholder="20.123.456-7" required>

            <label for="Correo" class="form-label">Correo Electronico:</label>
            <input type="email" id="Correo" class="form-input" placeholder="Escriba su Email" required>    

            <label for="Numero" class="form-label">Numero Telefonico:</label>
            <input type="number" id="Numero" class="form-input" placeholder="9 1234 5615" required>

            <label for="Direccion" class="form-label">Direccion:</label>
            <input type="text" id="Direccion" class="form-input" placeholder="Escriba su Direccion" required>

            <label for="Mensaje" class="form-label">Mensaje Agregado:</label>
            <textarea type="text" id="Mensaje" class="form-input" placeholder="Mensaje"></textarea>

            <input type="submit"  class="btn-submit" value="Pagar" >
            <br>
            
        </form>
        

    </div>

</body>
</html>