<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DF Games - Inicio</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/estilos.css">
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Pre-ventas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Carro' %}">Carro de compra <img src="../static/img/Carrito.png"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">.</h1>
        <div class="list-group">
          <a href="{% url 'index' %}" class="list-group-item">DF Games</a>

        </div>
      </div>
      <!-- /.col-lg-3 -->

      
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="contenido">
  {% block contenido %}
  
  {% endblock contenido %}
  
  </div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">    
      <p class="text-white">
        <strong>CONTACTO</strong> <br>
        Email: contacto@dfgames.cl <br>
        Teléfono: +56 2 2221 6850 <br>
        Whatsapp: +56997139923 <br>
      </p>
      <p align="right" class="text-white">
        <strong>SIGUENOS EN REDES SOCIALES</strong><br><br>
        <a href="https://fb.com/dfgamescl"><img src="../static/img/RRSS/Facebook.png" width="50" height="50"></a>
        <a href="https://instagram.com/dfgamescl"><img src="../static/img/RRSS/Instagram.png" width="50" height="50"></a>
        <a href="https://twitter.com/dfgamescl"><img src="../static/img/RRSS/Twitter.png" width="50" height="50"></a>
      </p>
      <p class="m-0 text-center text-white">&copy; 2015-2019 - DF Games</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>